{% extends "base.html" %}
{% block content %}
<div class="container mt-4">

    <h3>Students in Class</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Adm No</th>
                <th>Student Name</th>
            </tr>
        </thead>
        <tbody>
            {% for s in students %}
            <tr>
                <td>{{ s.admission_number }}</td>
                <td>{{ s.full_name }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2" class="text-center text-muted">No students found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}